<div class="modal fade modal--default" id="confirmation-card-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm ">
    <div class="modal-content">
      <div class="modal-body">
        <span class="payment-method--icon icon-credit"></span>
        <h3 class="top-title">Seu pedido foi realizado com <span class="highlight">sucesso</span>!</h3>
        <h5 class="codigo-moip"></h5>
        <%= link_to "Acompanhar meus pedidos", user_orders_path, :class => "button orange bigger" %>
      </div>
    </div>
  </div>
</div>