<div class="modal fade modal--default" id="confirmation-money-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm ">
    <div class="modal-content">
      <div class="modal-body">
        <span class="payment-method--icon awesome-money"></span>
        <h3 class="top-title">Seu pedido foi realizado com <span class="highlight">sucesso</span>!</h3>
        <p><strong>Enviamos para o seu e-mail</strong>, informações sobre a nossa conta bancária. Seu pedido será enviado logo após a confirmação do pagamento.</p>
        <%= link_to "Acompanhar meus pedidos", user_orders_path, :class => "button orange bigger" %>
      </div>
    </div>
  </div>
</div>