<div class="page--recover-password">
  <div class="current-page--bar">
    <div class="wrap-content">
      <h1>Esqueci minha Senha</h1>
    </div>
  </div>

  <section class="wrap">

    <section class="login--form">
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, impedit odit similique temporibus quo esse.</p>
      <form action="" id="login">
        <input type="email" placeholder="e-mail" class="full">
        <button type="button" class="button pull-right">Enviar</button>
      </form>
    </section>

  </section>
</div>