<div class="modal fade modal--default" id="product-request-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm ">
    <div class="modal-content">
      <div class="modal-body">
       <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
        <h3 class="top-title">Preencha os dados para ser avisado quando o produto chegar:</h3>
        <form action="<%= product_subscription_path %>" method="post" id="subform">
          <input type="text" name="name" placeholder="nome" class="full" required>
          <input type="email" name="email" placeholder="e-mail" class="full" required>
          <input type="hidden" name="product_id" value="<%= product_id %>" />
          <input type="hidden" name="slug" value="<%= product_slug %>" />
          <button type="button" class="button orange bigger" onclick="$('#subform').submit();">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>