<p>Olá <%= @resource.name %>!</p>

<p>Alguém solicitou um link para modificar sua senha. Você pode fazer através do link abaixo.</p>

<p><%= link_to 'Modificar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou isto, ignore este e-mail.</p>
<p>Sua senha não será modificada a não ser que você acesse o link acima e crie uma nova senha.</p>
