<div class="wrapper">
	<div class="row rs-header">
		<div class="col-md-8">
			<h3>Criar Relatório</h3>
		</div>
		<div class="col-md-4 text-right">
			<%= link_to '&larr; Voltar'.html_safe, root_path, :class => 'btn btn-primary' %>
		</div>
	</div>
	<%= render partial: 'form' %>
</div>