<div class="page--about">
  <div class="current-page--bar">
    <div class="wrap-content">
      <h1>Quem somos</h1>
    </div>
  </div>

  <section class="wrap-content terms-of-use--questions page--default">
    
    <%= NutrisuporteSetting.about_page.html_safe %>
    <!--
      <%= image_tag("quem-somos.jpg",:alt => "Loja Nutrisuporte", :class => "image image-left") %>
      <p>A NUTRI SUPORTE é uma empresa especializada em nutrição clínica que trabalha com dietas, fórmulas, suplementos, vitaminas e minerais de uso adulto e/ou infantil.</p>
      <p>A NUTRI SUPORTE foi fundada tendo como principal objetivo possibilitar melhor acesso dos produtos de nutrição clínica para pessoas que necessitam de maiores cuidados, priorizando a saúde e o bem estar de nossos clientes. Nós acreditamos e priorizamos a qualidade de vida como um ponto chave no conforto de quem nos acompanha e confia em nosso trabalho.</p>
      <h4>MISSÃO:</h4>
      <p>Atender às necessidades nutricionais, buscando melhorias na qualidade de vida e na saúde de nossos clientes.</p>
      <h4>VISÃO:</h4>
      <p>Ser um centro de referência no comércio de produtos de nutrição clínica.</p>
      <h4>LOGÍSTICA:</h4>
      <p>Dispomos de um serviço de tele-entrega em Porto Alegre e região. Assim como vendas online com serviços de Fretes por Correios Sedex ou PAC (normal) ou Transportadora para qualquer lugar do Brasil. Além disso também contamos com uma Loja física possibilitando outra opção de compra para nossos clientes.</p>
    /-->

  </section>
</div>