<div class="page--terms-of-use">
  <div class="current-page--bar">
    <div class="wrap-content">
      <h1>Termos de uso</h1>
    </div>
  </div>

  <section class="wrap-content terms-of-use--questions">
    <%= NutrisuporteSetting.terms_of_use.html_safe %>
  </section>
</div>